@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Prompt&display=swap");

.App {
  text-align: center;
  align-items: center;
  /* margin-left: 5em; */
  /* background-color: rgb(165, 165, 165); */
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  margin-left: 20px;
}

.mainTitle {
  color: red;
}

.headbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(194, 194, 194);
}

.table {
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9rem;
  width: 85%;
}

.driverPos {
  margin-left: 2rem;
}
tr {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.headings {
  border-collapse: collapse;
  background-color: rgba(255, 0, 0, 0.849);
  color: white;
  margin: 25px 0;
  font-size: 0.9rem;
  width: 100%;
  height: 30px;
  display: flex;
  padding: 10px 20px 0 20px;
  align-content: center;
  justify-content: space-between;
}

.eachDriver {
  padding-top: 1.2rem;
}

.lastName {
  padding-top: 0.2rem;
  padding-left: 0.6rem;
}

.logoContainer {
  border-radius: 50%;
  margin-top: 4rem;
  height: 80%;
}

.logo {
  border-radius: 50%;
}

.teamSelect {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
