.App {
  text-align: center;
  align-items: center;
  margin-left: 5em;
}

.results-Content-Table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 10px;
}

.results-Content-Table thead tr {
  background-color: rgb(237, 14, 14);
}

.eachDriver {
  padding-top: 1.2rem;
}

/*.background {
  background-color: red;
}*/

.lastName {
  padding-top: 0.2rem;
  padding-left: 0.6rem;
}
